{% extends 'base.html.twig' %}
{% block title %}Dades Equip{% endblock %}
 {% block stylesheets %}
     {{ encore_entry_link_tags('app') }}
     <link href="{{ asset('assets/css/estilsEquip.css') }}" rel="stylesheet">
 {% endblock %}

{% block body %}
    <body>

    {% if equip %}
        <h1 id="titolEquip">Dades Equip {{ equip.id }}</h1>
        <p class="paragrafEquip">Proyecte 2n DAW.<br>
            <img src="{{ asset('assets/img/'~equip.imatge) }}" class="imatgeEquip" />
        </p>
        <p class="paragrafEquip">
            <a href="{{ path('nou_membre') }}">Nou membre <img style="width: 30px; heigth: 30px;" src="{{ asset('assets/img/nuevoMiembro.png') }}" /></a>
        </p>
        <div class="paragrafEquip">

                <p class="tablaEquip"><strong>Codi: </strong>{{ equip.id }}</p>
                <p class="tablaEquip"><strong>Nom: </strong>{{ equip.nom }}</p>
                <p class="tablaEquip"><strong>Cicle: </strong>{{ equip.cicle }}</p>
                <p class="tablaEquip"><strong>Curs: </strong>{{ equip.curs }}</p>
                <p class="tablaEquip"><strong>Curs: </strong>{{ equip.nota }}</p>

                <div class="tablaEquip"><strong>Membres:</strong><br>
                    {% set comptador = 0 %}
                        {% for membre in membres %}
                            {% if membre.equip.id == equip.id %}
                                {% set comptador = comptador + 1 %}
                                    {{ membre.nom }}
                                <a href="{{ path('editarMembre', {'codi': membre.id}) }}"><img style="width: 30px; heigth: 30px;" src="{{ asset('assets/img/editar.png') }}" /></a><br>
                            {% endif %}
                        {% endfor %}
                    {% if comptador == 0 %}
                        <p>Encara no hi ha membres</p>
                    {% endif %}
                </div>
        </div>

    {% else %}
        <h1 id="titolEquip">Dades Equip</h1>
        <p class="paragrafEquip">Proyecte 2n DAW.<br>
            <img src="{{ asset('assets/img/Triste.png') }}" class="imatgeEquip" />
        </p>
        <div class="paragrafEquip">
            <h1 id="titolEquip">Equip no trobat</h1>
        </div>

    {% endif %}
    <div class="paragrafEquip">
        <a href="{{ path('inici') }}">
            <img src="{{ asset('assets/img/iconoHome.png') }}" class="imatgeEquip2" />
            Tornar a l'inici
        </a>
         <a href="{{ path('editarEquip', {'codi': equip.id}) }}"><img style="width: 20px; heigth: 20px;" src="{{ asset('assets/img/editar.png') }}" /> Edita l'equip </a>
    </div>

    </body>

{% endblock %}