{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ encore_entry_link_tags('app') }}
     <link href="{{ asset('assets/css/estilsInici.css') }}" rel="stylesheet">
 {% endblock %}

 {% block body %}

    <body>
    <h1 id="titolInici">Projecte Symfony Equips 2DAW</h1>
    <p id="paragrafInici">Inici programa gestió d'equips i membres del projecte 2n DAW.<br>
        IES Lluís Simarro<br>
        Curs 22/23
        <br>
{#        <a href="{{ path('dades_equip') }}"> #}
            <img src="{{ asset('assets/img/simpsons.png') }}" class="imatgeInici" />
{#        </a> #}
    </p>
    
    <h2 id="titolDos">Llistat d'equips</h2>
    
    <p id="paragrafInici">
        <a href="{{ path('nou_membre') }}">Nou membre <img style="width: 30px; heigth: 30px;" src="{{ asset('assets/img/nuevoMiembro.png') }}" /></a>
    </p>

    <div id="paragrafDiv">
        {% for equip in equips %}
            <p id="paragrafIniciDos">
                <a id="paragrafInici" style="color:#0a53be" href="equip/{{ equip.id }}">{{ equip.nom }} (nota: {{ equip.nota }})</a>
                <a href="{{  path('editarEquip', {'codi': equip.id}) }}"><img style="width: 30px; heigth: 30px;" src="{{ asset('assets/img/editar.png') }}" /></a>
            </p>
        {% endfor %}
    </div>

    </body>

{% endblock %}