{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ encore_entry_link_tags('app') }}
     <link href="{{ asset('assets/css/estilsInici.css') }}" rel="stylesheet">
 {% endblock %}

 {% block body %}

    <body>
    <h1 id="titolInici">Projecte Symfony Equips 2DAW</h1>
    <p id="paragrafInici">Inici programa gestió d'equips i membres del projecte 2n DAW.<br>
        IES Lluís Simarro<br>
        Curs 22/23
        <br>
        <a href="{{ path('dades_equip') }}"><img src="{{ asset('assets/img/simpsons.png') }}" class="imatgeInici" />
    </p>
    <h2 id="titolDos">Llistat d'equips</h2>

    <div id="paragrafDiv">
        {% for equip in equips %}
            <p id="paragrafIniciDos">
                <a id="paragrafInici" style="color:#0a53be" href="{{ path('dades_equip') }}/{{ equip.codi }}">{{ equip.nom }}</a>
            </p>
        {% endfor %}
    </div>

    </body>

{% endblock %}