{% extends 'base.html.twig' %}
 {% block stylesheets %}
     {{ encore_entry_link_tags('app') }}
     <link href="{{ asset('assets/css/estilsEquip.css') }}" rel="stylesheet">
 {% endblock %}

{% block body %}

    <body>

    {% if error %}

    <h1 id="titolEquip">Error en la inserció dels equips:<br>
        {% for equip in equips %}
            {{ equip.nom }}<br>
        {% endfor %}
    </h1>
        <p class="paragrafEquip">
            <img src="{{ asset('assets/img/Triste.png') }}" class="imatgeEquip" />
        <p class="paragrafEquip">
            {{ error }}
        </p>
        </p>

    {% else %}

        <h1 id="titolEquip">Equips:<br>
        {% for equip in equips %}
            {{ equip.nom }} amb id: {{ equip.id }} inserits correctament<br>
        {% endfor %}

        </h1>

        <p class="paragrafEquip">
            <img src="{{  asset('assets/img/feliz.png') }}" class="imatgeEquip" />
        </p>

    {% endif %}
    <div class="paragrafEquip">
        <a href="{{ path('inici') }}">
            <img src="{{ asset('assets/img/iconoHome.png') }}" class="imatgeEquip2" />
            Tornar a l'inici
        </a>
    </div>

    </body>

{% endblock %}